* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #f6f6f6;
  }

  main {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: #2f2f2f;
  }

  section {
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }